
:root{
    --bg-color: #191919;
    --text-color:#f0f0f0;
    --text-color-grey:#888888;
    --primary-color:#b251df;
    --secondary-color:#710ff2;
    --third-color: #2b2b2b;
    --green-color: #a5e767;
    --secondary-color-opacity: #32135b;
    --third-color-opacity: #6e6e6e33;
    --warning-color: #ffb619;
    --error-color: #e76767;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(to bottom, var(--bg-color), var(--secondary-color-opacity)) ;
    color: var(--text-color);
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}